<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

  <!-- css propios -->
  <link rel="stylesheet" href="../assets/css/styles-general.css">
  <link rel="stylesheet" href="../assets/css/styles-detalle-producto.css">

  <title id="titulo">Vengance niño-TS</title>
  <link rel="icon" href="../assets/img/logo1.png">
</head>

<body onload="myFunction()" style="margin:0;">
  <div id="loader"></div>

  <div style="display:none;" id="myDiv" class="animate-bottom">




    <!-- navbar -->
    <div class="container-fluid">
      <div class="bgn-black text-white row">
        <a href="../index.html" class="col-auto mr-auto"><img src="../assets/img/logo4.png" alt="" class="img-nav"></a>

        <a href="busqueda.html?search=favoritos" class="d-flex align-items-center"><svg
            xmlns="http://www.w3.org/2000/svg" width="25" height="30" fill="white" class="bi bi-suit-heart-fill "
            viewBox="0 0 16 16">
            <path
              d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
          </svg></a>
        <a href="carrito.html" class="d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="30" fill="white"
            class="bi bi-cart-fill mx-2 mx-sm-4" viewBox="0 0 16 16">
            <path
              d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
          </svg>
        </a>
        <a href="../templates/ingreso.html" class="d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="30" fill="white" class="bi bi-person-circle mr-4"
            viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
          </svg>
        </a>
      </div>
    </div>
    <div class="bb-red bt-blue"></div>
    <nav class="navbar navbar-expand-lg navbar-dark bgn-black">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <form style="margin-top: 5px; margin-bottom: 5px;" class="form-inline navbar-brand " id="formBusqueda">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" id="inputBusqueda">
      </form>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="busqueda.html?search=Mujer">Mujeres<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="busqueda.html?search=Hombre">Hombres<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="busqueda.html?search=Niñx">Niñxs<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="busqueda.html?search=Accesorio">Accesorios<span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="newsletter.html">Newsletter<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="quienes-somos.html">Nosotros<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- fin navbar -->

    <!-- inicio ruta -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../index.html">Inicio</a></li>
        <li class="breadcrumb-item"><a href="" id="breadcrumbCategoria"></a></li>
        <li class="breadcrumb-item active" aria-current="page" id="breadcrumbProducto"></li>
      </ol>
    </nav>
    <!-- fin ruta -->

    <!-- contenedor principal -->
    <div class="container-fluid" style="min-height: 80vh;">

      <!-- Titulo alternativo -->

      <div class="row d-block d-lg-none">
        <h1 class="text-center"></h1>
      </div>

      <div class="row">
        <!-- galeria de imagenes -->
        <div class="col-lg-2 col-md-12 galeria-imagenes d-none d-lg-block h-50" id="galeria-imagenes">

        </div>

        <!-- carrusel de imagenes -->
        <div class="col-12 col-lg-5 pr-3 text-center">
          <div id="carouselExampleIndicators" class="carousel carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" id="carousel-inner">

            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators"
              data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators"
              data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </button>
          </div>
        </div>

        <!-- detalles de compra -->
        <div class="col-12 col-lg-5 p-5 p-lg-0 ">
          <h1 class="d-none d-lg-block col"></h1>
          <h2 class="precio col" id="precio">Precio: $220.00</h2><br>
          <div class="col align-items-center" id="calificacion">

          </div>

          <div class="col mt-2">
            <a data-toggle="modal" data-target="#modalTallas">
              <label class="link-modal-guia-tallas">Guía de tallas</label>
            </a>
          </div>

          <div class="col mt-2 align-items-center">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="options" id="option1" checked> CH
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2"> M
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="option3"> G
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2"> EG
              </label>

            </div>

            <div class="col mt-2 mx-0 pl-0">
              <div class="input-group-prepend px-0 mx-0">
                <label class="input-group-text mx-0 " for="inputGroupSelect01">Cantidad</label>
                <select class="custom-select col col-sm-2" id="inputGroupSelect01">
                  <option selected value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                </select>
              </div>
            </div>
          </div>


          <div class="col-11 text-center">
            <button type="button" class="btn btn-dark col mt-4">Agregar al carrito</button>
          </div>
          <div class="col mt-3">
            <p>Detalles:<br>
            <ul id="detalleProducto">

            </ul>
            </p>

          </div>
          <div>
            <p>
              <a class="btn btn-secondary" data-toggle="collapse" href="#collapseExample" role="button"
                aria-expanded="false" aria-controls="collapseExample">
                Envio
              </a>
            </p>
            <div class="collapse col-11" id="collapseExample">
              <div class="card card-body">
                Nuestra prioridad siempre será tu satisfacción, así que las devoluciones que nos hagas no tienen costo
                para ti.
                Incluso podrás comprar y probarte lo que quieras en la comodidad de tu hogar y devolverlo en caso de que
                la prenda no te quede.
                Si tienes más dudas acerca de nuestros procesos de envío o devolución, podrás resolverlos en este
                apartado
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Reseñas -->
      <div class="row mt-5">

        <div class="col-12 col-sm d-flex 
      justify-content-sm-end justify-content-center
      align-items-center">
          <table>
            <tbody>
              <tr>
                <td class="d-flex justify-content-sm-end justify-content-center align-items-center" id="resumen-calif">

                </td>
              </tr>
              <tr>
                <td>
                  <label for="" id="calificaciones"></label>
                </td>
              </tr>
            </tbody>
          </table>



        </div>
        <div class="col-12 d-block-flex col-sm justify-content-sm-start justify-content-center">
          <!-- tabla resumen -->
          <table class="mx-auto mx-sm-0">
            <tr>
              <td id="estrella5">
              </td>
              <td class="col-6 m-0 p-0">
                <div class="progress" id="progresEstrella5">
                </div>
              </td>
              <td>
                <label for="" id="estrella5Cont"></label>
              </td>
            </tr>
            <tr>
              <td id="estrella4">

              </td>
              <td>
                <div class="progress" id="progresEstrella4">

                </div>
              </td>
              <td>
                <label for="" id="estrella4Cont"></label>
              </td>
            </tr>
            <tr>
              <td id="estrella3">

              </td>
              <td>
                <div class="progress" id="progresEstrella3">

                </div>
              </td>
              <td>
                <label for="" id="estrella3Cont"></label>
              </td>
            </tr>
            <tr>
              <td id="estrella2">

              </td>
              <td>
                <div class="progress" id="progresEstrella2">

                </div>
              </td>
              <td>
                <label for="" id="estrella2Cont"></label>
              </td>
            </tr>
            <tr>
              <td id="estrella1">

              </td>
              <td>
                <div class="progress" id="progresEstrella1">

                </div>
              </td>
              <td>
                <label for="" id="estrella1Cont"></label>
              </td>
            </tr>
          </table>
        </div>
      </div>


      <!-- cartas de reseña -->
      <div class="row mt-4 justify-content-center" id="opiniones">
        <h4 class="ml-4 col-11 text-center mt-4">Reseñas</h4>
      </div>
    </div>




    <!-- footer -->
    <footer class=" footer-style">
      <div class="container">
        <div class="row">
          <div class="col-md-4 footer-col">
            <h3>COMPRAS</h3>
            <p class="parrafos">
              Cambio y devoluciones
            </p>
            <P class="parrafos">Información de Envio</P>
            <p class="parrafos">Formas de pago</p>
          </div>
          <div class="col-md-4 footer-col">
          </div>
          <div class="col-md-4 footer-col">
            <h3>CONTACTO</h3>
            <p class="parrafoss"><a target="_blank" href="mailto:contacto@techno.com.mx">contacto@techno.com.mx</a></p>

            <p class="parrafos"> 5543546799</p>
          </div>
        </div>
      </div>


      <div class="container">
        <img src="../assets/img/logo1.png" alt="Logotipo" style="width: 200px;height: 250px; margin-right: 100px;"
          class="mx-auto d-block">
      </div>
    </footer>


    <!-- Modal tallas-->
    <div class="modal fade" id="modalTallas" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Guia de tallas</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Talla</th>
                  <th>Pecho</th>
                  <th>Largo</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>XS MÉXICO</th>
                  <td>100 cm</td>
                  <td>71 cm</td>
                </tr>
                <tr>
                  <th>S MÉXICO</th>
                  <td>104 cm</td>
                  <td>73 cm</td>
                </tr>
                <tr>
                  <th>M MÉXICO</th>
                  <td>108 cm</td>
                  <td>75 cm</td>
                </tr>
                <tr>
                  <th>L MÉXICO</th>
                  <td>112 cm</td>
                  <td>77 cm</td>
                </tr>
                <tr>
                  <th>XL MÉXICO</th>
                  <td>116 cm</td>
                  <td>79 cm</td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-lg-3">
                <img src="../assets/img/detalle-producto/CHEST_CIRCUMFERENCE_MALE-1.png" alt="" class="w-lg-25 h-auto">
              </div>
              <div class="col-lg-3">
                <p><span class="">Pecho</span><br> Comenzando por la axila, rodeá con un centímetro la parte más ancha
                  del
                  tórax.</p>
              </div>
              <div class="col-lg-3">
                <img src="../assets/img/detalle-producto/TOTAL_LENGTH-1.png" alt="" class="w-lg-25 h-auto">
              </div>
              <div class="col-lg-3">
                <p><span>Largo</span><br>Toma una prenda tuya similar a la que quieras comprar. Colócala abrochada y
                  estirada sobre una superficie plana. Mide el largo total.</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">

          </div>
        </div>
      </div>
    </div>


    <!-- Modal zoom imagen -->
    <div id="modalZoomImg" class="modalZoom">
      <span class="close2">&times;</span>
      <img class="modal-zoom-content" id="img01">
      <div id="caption"></div>
    </div>
  </div>

  <script>
    function myFunction() {
      myVar = setTimeout(showPage, 2000);
    }
    function showPage() {
      document.getElementById("loader").style.display = "none";
      document.getElementById("myDiv").style.display = "block";
      document.getElementById("myDiv").style.background = "white";
      document.getElementById("myDiv").style.textAlign = "initial ";
    }



  </script>



  <!-- js bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>
  <!-- js popper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

  <!-- js propio -->
  <script src="../assets/js/detalle-producto.js"></script>
  <script src="../assets/js/carrito.js"></script>
</body>

</html>