@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/*------------------------------------ NAVBAR---------------------------- */
/* navbar */
.img-nav {
  width: 150px;
}
.bgn-black {
  background-color: #000000 !important;
}
.ico {
  width: 35px;
  height: 35px;
}
.bb-red {
  border-bottom: 2px solid red !important;
}
.bt-blue {
  border-top: 2px solid blue !important ;
}

.encabezado {
  background-image: url(https://img.pikbest.com/backgrounds/20200624/blue-gradient-technology-line-grid-background_2756472.jpg!c1024wm0);
  border-radius: 10%;
  padding: 20px;
  margin-left: 20%;
  color: #ff0000;
  text-align: center;
  width: 60vw;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 20px;

  display: flex;
  justify-content: center; /* Centrar horizontal */
  align-items: center; /* Centrar vertical */
}
.titulos {
  display: block;
  font-size: 1.9em;
  font-family: "Lato", sans-serif;
  background-color: black;
  width: 330px;
  font-weight: bold;
  border-radius: 10px;
  border-right-color: #0019fb;
  border-width: 7px;
  border-right-style: dashed;
}
#equipo {
  color: #0019fb;
  height: 70px;
  width: 500px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.194);
  margin-left: 25%;
  display: flex;
  justify-content: center; /* Centrar horizontal */
  align-items: center; /* Centrar vertical */
  font-family: "Lato", sans-serif;
}
.cartas {
  background-color: rgba(0, 0, 0, 0.126);
  height: max-content;
}

.fuente {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

.imagen {
  width: 70px;
  height: 70px;
}

/* --------------------FOTTER---------------------------- */

.subscribe-area {
  background-color: #0a0909;
}

.pb-50 {
  padding-bottom: 50px;
}
.pt-70 {
  padding-top: 70px;
}

.mb-15 {
  margin-bottom: 15px;
}

.subscribe-text span {
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 5px;
}
.subscribe-text h2 {
  color: #000000;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 6px;
}
.subscribe-wrapper {
  overflow: hidden;
}
.mb-15 {
  margin-bottom: 15px;
}

.subscribe2-wrapper .subscribe-form input {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: 300;
  height: 57px;
  margin-right: 17px;
  padding-left: 35px;
  width: 70%;
  cursor: pointer;
}

.subscribe2-wrapper .subscribe-form button {
  background: #ff0000;
  border: none;
  border-radius: 15px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  padding: 18px 46px;
  transition: all 0.3s ease 0s;
}
.subscribe2-wrapper .subscribe-form button i {
  font-size: 18px;
  font-weight: bolder;
  padding-left: 5px;
}

/* footer */

.footer-style {
  padding-top: 50px;
  background-color: #000000;
}
footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
  font-weight: 800;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #2c3e50;
}
footer .footer-col {
  margin-bottom: 10px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
}

h3 {
  /* font-size: xx-large; */
  font-size: 32px;
}

/* 
.logo{
  text-align: center
  width: 100px ;

} */

.parrafos {
  font-size: x-large;
}
.contenedor {
  display: flex;
  text-align: end;
}

.contenedor img {
  width: 60px;
  height: 100px;
  margin-right: 50px;
}

ul {
  list-style-type: none;
}
