<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="icon" href="assets/Image/logo1.png" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" />

  <link rel="stylesheet" href="assets/css/cards.css" />


  <title>Quienes somos</title>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#" class="image">
              <img class="pic-1"
                src="https://ih1.redbubble.net/image.935418396.6203/ssrco,slim_fit_t_shirt,mens,101010:01c5ca27c6,front,square_product,600x600.jpg">
              <img class="pic-2"
                src="https://ih1.redbubble.net/image.935418396.6203/ssrco,slim_fit_t_shirt,mens,101010:01c5ca27c6,front,square_product,600x600.jpg">
            </a>
            <span class="product-sale-label">3X2</span>
          </div>
          <div class="product-content">
            <ul class="rating">

              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star disable"></li>
            </ul>
            <h3 class="title"><a href="#">Camiseta Vue</a></h3>
            <div class="price"><span>$30.00</span> $20.00</div>
            <div class="product-button-group">
              <a class="product-like-icon" href="#"><i class="fas fa-heart"></i></a>
              <a class="add-to-cart" href="#"><i class="fa fa-shopping-bag"></i>ADD TO CART</a>
              <a class="product-compare-icon" href="#"><i class="fas fa-random"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#" class="image">
              <img class="pic-1"
                src="https://ih1.redbubble.net/image.1186321872.8871/ssrco,slim_fit_t_shirt,mens,101010:01c5ca27c6,front,square_product,600x600.jpg">
              <img class="pic-2"
                src="https://ih1.redbubble.net/image.1186321872.8871/ssrco,slim_fit_t_shirt,mens,101010:01c5ca27c6,front,square_product,600x600.jpg">
            </a>

            <span class="product-sale-label">-33%</span>
          </div>
          <div class="product-content">
            <ul class="rating">
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
            </ul>
            <h3 class="title"><a href="#">Camiseta React</a></h3>
            <div class="price">$12.30</div>
            <div class="product-button-group">
              <a class="product-like-icon" href="#"><i class="fas fa-heart"></i></a>
              <a class="add-to-cart" href="#"><i class="fa fa-shopping-bag"></i>ADD TO CART</a>
              <a class="product-compare-icon" href="#"><i class="fas fa-random"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#" class="image">
              <img class="pic-1"
                src="https://ih1.redbubble.net/image.46620197.2641/ssrco,slim_fit_t_shirt,mens,101010:01c5ca27c6,front,square_product,600x600.jpg">
              <img class="pic-2"
                src="https://ih1.redbubble.net/image.46620197.2641/ssrco,slim_fit_t_shirt,mens,101010:01c5ca27c6,front,square_product,600x600.jpg">
            </a>
            <span class="product-sale-label">2x1</span>
          </div>
          <div class="product-content">
            <ul class="rating">

              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star disable"></li>
            </ul>
            <h3 class="title"><a href="#">Camiseta Javascript</a></h3>
            <div class="price"><span>$30.00</span> $20.00</div>
            <div class="product-button-group">
              <a class="product-like-icon" href="#"><i class="fas fa-heart"></i></a>
              <a class="add-to-cart" href="#"><i class="fa fa-shopping-bag"></i>ADD TO CART</a>
              <a class="product-compare-icon" href="#"><i class="fas fa-random"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#" class="image">
              <img class="pic-1"
                src="https://ih1.redbubble.net/image.886736927.0242/ssrco,slim_fit_t_shirt,mens,101010:01c5ca27c6,front,square_product,600x600.jpg">
              <img class="pic-2"
                src="https://ih1.redbubble.net/image.886736927.0242/ssrco,slim_fit_t_shirt,mens,101010:01c5ca27c6,front,square_product,600x600.jpg">
            </a>
            <span class="product-sale-label">ÚLTIMAS</span>
          </div>
          <div class="product-content">
            <ul class="rating">
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
            </ul>
            <h3 class="title"><a href="#">Camiseta Angular</a></h3>
            <div class="price">$12.30</div>
            <div class="product-button-group">
              <a class="product-like-icon" href="#"><i class="fas fa-heart"></i></a>
              <a class="add-to-cart" href="#"><i class="fa fa-shopping-bag"></i>ADD TO CART</a>
              <a class="product-compare-icon" href="#"><i class="fas fa-random"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>


  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#" class="image">
              <img class="pic-1"
                src="https://ih1.redbubble.net/image.1750667385.1768/ssrco,classic_tee,mens,101010:01c5ca27c6,front_alt,square_product,600x600.u6.jpg">
              <img class="pic-2"
                src="https://ih1.redbubble.net/image.1750667385.1768/ssrco,classic_tee,mens,101010:01c5ca27c6,front_alt,square_product,600x600.u6.jpg">
            </a>
            <span class="product-sale-label">-10%</span>
          </div>
          <div class="product-content">
            <ul class="rating">

              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star disable"></li>
            </ul>
            <h3 class="title"><a href="#">Camiseta Javascript is not Java</a></h3>
            <div class="price"><span>$40.00</span> $36.00</div>
            <div class="product-button-group">
              <a class="product-like-icon" href="#"><i class="fas fa-heart"></i></a>
              <a class="add-to-cart" href="#"><i class="fa fa-shopping-bag"></i>ADD TO CART</a>
              <a class="product-compare-icon" href="#"><i class="fas fa-random"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#" class="image">
              <img class="pic-1"
                src="https://ih1.redbubble.net/image.3604799321.6187/ssrco,classic_tee,mens,101010:01c5ca27c6,front_alt,square_product,600x600.u2.jpg">
              <img class="pic-2"
                src="https://ih1.redbubble.net/image.3604799321.6187/ssrco,classic_tee,mens,101010:01c5ca27c6,front_alt,square_product,600x600.u2.jpg">
            </a>

            <span class="product-sale-label">2X1</span>
          </div>
          <div class="product-content">
            <ul class="rating">
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
            </ul>
            <h3 class="title"><a href="#">Camiseta Vscode</a></h3>
            <div class="price">$12.30</div>
            <div class="product-button-group">
              <a class="product-like-icon" href="#"><i class="fas fa-heart"></i></a>
              <a class="add-to-cart" href="#"><i class="fa fa-shopping-bag"></i>ADD TO CART</a>
              <a class="product-compare-icon" href="#"><i class="fas fa-random"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#" class="image">
              <img class="pic-1"
                src="https://ih1.redbubble.net/image.193632947.5110/ssrco,classic_tee,mens,fafafa:ca443f4786,front_alt,square_product,600x600.jpg">
              <img class="pic-2"
                src="https://ih1.redbubble.net/image.193632947.5110/ssrco,classic_tee,mens,fafafa:ca443f4786,front_alt,square_product,600x600.jpg">
            </a>
            <span class="product-sale-label">ÚLTIMAS</span>
          </div>
          <div class="product-content">
            <ul class="rating">

              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star disable"></li>
            </ul>
            <h3 class="title"><a href="#">Camiseta npm</a></h3>
            <div class="price"><span>$30.00</span> $20.00</div>
            <div class="product-button-group">
              <a class="product-like-icon" href="#"><i class="fas fa-heart"></i></a>
              <a class="add-to-cart" href="#"><i class="fa fa-shopping-bag"></i>ADD TO CART</a>
              <a class="product-compare-icon" href="#"><i class="fas fa-random"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="product-grid">
          <div class="product-image">
            <a href="#" class="image">
              <img class="pic-1"
                src="https://ih1.redbubble.net/image.1081157388.0151/ssrco,slim_fit_t_shirt,mens,charcoal_heather,front,square_product,600x600.u3.jpg">
              <img class="pic-2"
                src="https://ih1.redbubble.net/image.1081157388.0151/ssrco,slim_fit_t_shirt,mens,charcoal_heather,front,square_product,600x600.u3.jpg">
            </a>
            <span class="product-sale-label">-15%</span>
          </div>
          <div class="product-content">
            <ul class="rating">
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
              <li class="fas fa-star"></li>
            </ul>
            <h3 class="title"><a href="#">Camiseta Python</a></h3>
            <div class="price">$12.30</div>
            <div class="product-button-group">
              <a class="product-like-icon" href="#"><i class="fas fa-heart"></i></a>
              <a class="add-to-cart" href="#"><i class="fa fa-shopping-bag"></i>ADD TO CART</a>
              <a class="product-compare-icon" href="#"><i class="fas fa-random"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>


  </div>




  <section class="subscribe-area pb-50 pt-70">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="subscribe-text mb-15">
            <h2>SUBSCRÍBETE Y ENTÉRATE <br> DE LAS NOVEDADES</h2>
          </div>
        </div>
        <div class="col-md-8">
          <div class="subscribe-wrapper subscribe2-wrapper mb-15">
            <div class="subscribe-form">
              <form action="#">
                <input placeholder="tu@correo.com" type="email">
                <button>SUSCRIRSE</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>




  <footer class=" footer-style">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <h3>COMPRAS</h3>
          <p class="parrafos">
            Cambio y devoluciones
          </p>
          <P class="parrafos">Información de Envio</P>
          <p class="parrafos">Formas de pago</p>
        </div>
        <div class="col-md-4 footer-col">
          <h3>CONTACTO</h3>
          <p class="parrafos"><a target="_blank" href="mailto:contacto@techno.com.mx">contacto@techno.com.mx</a></p>

          <p class="parrafos"> 5543546799</p>
          <br><br><br><br><br><br>
        </div>
        <div class="col-md-4 footer-col">
          <h3 style="text-align: center;">SIGUENOS</h3>
          <ul class="contenedor">
            <a target="_blank" href="" class="btn-social btn-outline"><img class="social-media"
                src="assets/Image/image 2.png" alt=""></a>
            </li>
            <li>
              <a target="_blank" href="#" class="btn-social btn-outline"><img src="assets/Image/image 3.png"
                  alt=""></i></a>
            </li>
            <li>
              <a target="_blank" href="#" class="btn-social btn-outline"><img src="assets/Image/image 4.png" alt=""></a>
            </li>
          </ul>
          <h5 style="text-align: center;">MÉTODOS DE PAGO</h5>
        </div>
      </div>
    </div>

    <div class="container">
      <img src="assets/Image/logo1.png" alt="Logotipo" style="width:250px; margin-right: 100px;"
        class="mx-auto d-block">
    </div>
  </footer>

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>

  <!-- ScrollReveal -->
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://kit.fontawesome.com/1f2271c340.js" crossorigin="anonymous"></script>
</body>

</html>