<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/1db2ce0a5b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


  <link rel="stylesheet" href="../assets/css/newsletter.css">
  <link rel="stylesheet" href="../assets/css/styles.css">
  <title>Newsletter</title>
</head>

<body>

  <!-- navbar -->
  <div class="container-fluid">
    <div class="bgn-black text-white row">
      <a style="margin-top: 5px;" href="../index.html" class="col-auto mr-auto"><img src="../assets/img/logo4.png"
          alt="" class="img-nav"></a>
      <a style="margin-top: 15px;" href=""><img src="../assets/img/megusta.png" alt="" class="ico mr-1"></a>
      <a style="margin-top: 15px;" href="../templates/ingreso.html"><img src="../assets/img/usuario.png" alt=""
          class="ico mr-3"></a>
    </div>
  </div>
  <div class="bb-red bt-blue"></div>
  <nav class="navbar navbar-expand-lg navbar-dark bgn-black">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <form class="form-inline navbar-brand ">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="mujer.html">Mujeres<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="hombre.html">Hombres<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="ninxs.html">Niñxs<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="accesorios.html">Accesorios<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="newsletter.html">Newsletter<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="quienes-somos.html">Nosotros<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- fin navbar -->


  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/img/news.png" class="d-block w-100 h-100" alt="...">
      </div>
    </div>
  </div>

  <div class="content-wrapper">

    <div class="news-card">
      <a href="#" class="news-card__card-link"></a>
      <img src="https://www.remedi.org.mx/images/cemudi/formas-pago.png" alt="" class="news-card__image">
      <div class="news-card__text-wrapper">
        <h2 class="news-card__title">Nuevas formas de pago</h2>
        <div class="news-card__post-date">23 de mayo, 2022</div>
        <div class="news-card__details-wrapper">
          <p class="news-card__excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est pariatur nemo
            tempore
            repellat? Ullam sed officia iure architecto deserunt distinctio, pariatur&hellip;</p>
          <a href="#" class="news-card__read-more">Read more<i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
      </div>
    </div>

    <div class="news-card">
      <a href="#" class="news-card__card-link"></a>
      <img
        src="https://m.media-amazon.com/images/I/B1i3u9-Q-KS._CLa%7C2140%2C2000%7CB10SSzW14NS.png%7C0%2C0%2C2140%2C2000%2B0.0%2C0.0%2C2140.0%2C2000.0_AC_UX342_.png"
        alt="" class="news-card__image">
      <div class="news-card__text-wrapper">
        <h2 class="news-card__title">Nuevos modelos de sudaderas</h2>
        <div class="news-card__post-date">23 de mayo, 2022</div>
        <div class="news-card__details-wrapper">
          <p class="news-card__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam obcaecati ex
            natus
            nulla rem sequi laborum quod fugit&hellip;</p>
          <a href="#" class="news-card__read-more">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
      </div>
    </div>

    <div class="news-card">
      <a href="#" class="news-card__card-link"></a>
      <img src="https://i.ytimg.com/vi/nPHrIcnlTWo/maxresdefault.jpg" alt="" class="news-card__image">
      <div class="news-card__text-wrapper">
        <h2 class="news-card__title">La calidad de nuestro productos</h2>
        <div class="news-card__post-date">23 de mayo, 2022</div>
        <div class="news-card__details-wrapper">
          <p class="news-card__excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis beatae&hellip;
          </p>
        </div>
      </div>
    </div>

    <div class="news-card">
      <a href="#" class="news-card__card-link"></a>
      <img
        src="https://www.knowband.com/blog/wp-content/uploads/2019/09/How-eCommerce-Mobile-Apps-enhance-Customer-Loyalty-750x300.png"
        alt="" class="news-card__image">
      <div class="news-card__text-wrapper">
        <h2 class="news-card__title">Proximamente nuestro app movil :)</h2>
        <div class="news-card__post-date">23 de mayo, 2022</div>
        <div class="news-card__details-wrapper">
          <p class="news-card__excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto dignissimos rerum
            eligendi at eum delectus ab necessitatibus repellat.</p>
          <a href="#" class="news-card__read-more">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
      </div>
    </div>

    <div class="news-card">
      <a href="#" class="news-card__card-link"></a>
      <img src="https://centribal.com/wp-content/uploads/2020/09/5-indicadores-satisfaccio%CC%81n-cliente-copia.png"
        alt="" class="news-card__image">
      <div class="news-card__text-wrapper">
        <h2 class="news-card__title">Satisifacción del cliente</h2>
        <div class="news-card__post-date">Jan 29, 2018</div>
        <div class="news-card__details-wrapper">
          <p class="news-card__excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est pariatur nemo
            tempore
            repellat? Ullam sed officia iure architecto deserunt distinctio&hellip;</p>
          <a href="#" class="news-card__read-more">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
      </div>
    </div>

    <div class="news-card">
      <a href="#" class="news-card__card-link"></a>
      <img
        src="https://cdn.domestika.org/c_limit,dpr_auto,f_auto,q_auto,w_820/v1529574610/content-items/002/397/632/foodmarket-original.png?1529574610"
        alt="" class="news-card__image">
      <div class="news-card__text-wrapper">
        <h2 class="news-card__title">Mejorarmos nuestra UX</h2>
        <div class="news-card__post-date">Jan 29, 2018</div>
        <div class="news-card__details-wrapper">
          <p class="news-card__excerpt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est pariatur nemo
            tempore
            repellat? Ullam sed officia.</p>
          <a href="#" class="news-card__read-more">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
      </div>
    </div>
  </div>



  <section class="subscribe-area pb-50 pt-70">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="subscribe-text mb-15">
            <h2>SUBSCRÍBETE Y ENTÉRATE <br> DE LAS NOVEDADES</h2>
          </div>
        </div>
        <div class="col-md-8">
          <div class="subscribe-wrapper subscribe2-wrapper mb-15">
            <div class="subscribe-form">
              <form action="#">
                <input placeholder="tu@correo.com" type="email">
                <button>SUSCRIRSE</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>




  <footer class=" footer-style">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <h3>COMPRAS</h3>
          <p class="parrafos">
            Cambio y devoluciones
          </p>
          <P class="parrafos">Información de Envio</P>
          <p class="parrafos">Formas de pago</p>
        </div>
        <div class="col-md-4 footer-col">
          <h3>CONTACTO</h3>
          <p class="parrafos"><a target="_blank" href="mailto:contacto@techno.com.mx">contacto@techno.com.mx</a></p>

          <p class="parrafos"> 5543546799</p>
          <br><br><br><br><br><br>
        </div>
        <div class="col-md-4 footer-col">
          <h3 style="text-align: center;">SIGUENOS</h3>
          <ul class="contenedor">
            <a target="_blank" href="" class="btn-social btn-outline"><img class="social-media"
                src="../assets/img/image 2.png" alt=""></a>
            </li>
            <li>
              <a target="_blank" href="#" class="btn-social btn-outline"><img src="../assets/img/image 3.png"
                  alt=""></i></a>
            </li>
            <li>
              <a target="_blank" href="#" class="btn-social btn-outline"><img src="../assets/img/image 4.png"
                  alt=""></a>
            </li>
          </ul>
          <h5 style="text-align: center;">MÉTODOS DE PAGO</h5>
        </div>
      </div>
    </div>

    <div class="container">
      <img src="../assets/img/logo1.png" alt="Logotipo" style="width:250px; margin-right: 100px;"
        class="mx-auto d-block">
    </div>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>

</body>

</html>