<!DOCTYPE html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous" />

  <link rel="stylesheet" href="../assets/css/styles-quienes-somos.css" />

    
  <title>Quienes somos</title>
  <link rel="icon" href="../assets/img/logo1.png">
</head>

<body>

  <div class="container-fluid">

   <!-- navbar -->
  <div class="container-fluid">
    <div class="bgn-black text-white row">
      <a href="../index.html" class="col-auto mr-auto"><img src="../assets/img/logo4.png" alt="" class="img-nav"></a>
      <a href=""><img src="../assets/img/megusta.png" alt="" class="ico mr-2"></a>
      <a href="../templates/ingreso.html"><img src="../assets/img/usuario.png" alt="" class="ico mr-5"></a>
    </div>
  </div>
  <div class="bb-red bt-blue"></div>
  <nav class="navbar navbar-expand-lg navbar-dark bgn-black">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <form class="form-inline navbar-brand ">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="mujer.html">Mujeres<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="hombre.html">Hombres<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="ninxs.html">Niñxs<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="accesorios.html">Accesorios<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="noticias.html">Noticias<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="quienes-somos.html">Nosotros<span class="sr-only">(current)</span></a>
        </li>      
      </ul>
    </div>
  </nav>
  <!-- fin navbar -->


    <!-- <img src="assets/Image/fondo.jpg" class="img-fluid" alt="..."> -->
    <div class="titulos container-fluid">
      <h1 class="text-center mt-2 text-white">¿Quienes somos?</h1>
    </div>

    <div class="encabezado justify-content-center">
      <p class="fuente">
        Visión <br />
        <br />
        En Techno-Shopp tenemos el propósito de acompañar a la comunidad de
        developers a expresar su gusto por la tecnología de una manera creativa
        e innovadora. <br />
        <br />
        Misión <br />
        <br />
        Proveer prendas significativas que contengan imágenes relacionadas con
        tecnología, cumpliendo con los requerimientos previamente convenidos con
        los clientes. <br />
        <br />
        Proteger y maximizar el patrimonio de los accionistas y el valor de las
        unidades de negocio de Techno-Shopp.
      </p>
    </div>
    <hr />

    <div class="titulos container-fluid justify-content-center">
      <h2  class="text-center mb-5 text-white">Equipo de Developers</h2>
    </div>

    <div class="container">
      <div class="row row-cols-1 row-cols-md-2">

        <div class="col-md-6 mb-4">
          <div class="cartas card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../assets/img/quienes-somos/Luis.jpg" class="img-fluid mt-2 ml-2" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="fuente2 card-title ml-4">LUIS MANUEL GARCIA GUERRERO</h5>
                  <hr>
                  <p class="card-text ml-4 fuente2">Soy un joven developer. Desde inicios de 2022 he estado
                    tomando muchos cursos de programación para expandir mi
                    conocimiento. He estado tomando algunos bootcamps sobre
                    desarrollo web y Soft Skills. Entre mis hobbies se
                    encuentran ver series, jugar videojuegos, ver canales de
                    YouTube sobre comida, aventura y programar y aprender un
                    poco cada día. Mi meta en el futuro es poder llegar a
                    trabajar en una Big Tech.</p>
                    <div class="container">
                    <img src="../assets//img/quienes-somos/LOG1.jpg" class="img-fluid imagen mt-2 mx-auto d-block" alt="..."></div>
                </div>
              </div>
            </div>
          </div>

          <div class="cartas card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../assets/img/quienes-somos/Vivi.jpg" class="img-fluid mt-2 ml-2" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="fuente2 card-title ml-4">VIVIANA JUAREZ FUENTES</h5>
                  <hr>
                  <p class="card-text ml-4 fuente2">Licenciada en Computación Desarrolladora Java FullStack Jr
                    Me gusta salir a caminar con amig@s y comer. Busco aprender
                    cada vez más cosas nuevas y capacitarme para ser mejor cada
                    día. Confío y creo en el destino y por algo estamos aquí. </p>
                    <div class="container">
                      <img src="../assets//img/quienes-somos/LOG1.jpg" class="img-fluid imagen mt-2 mx-auto d-block" alt="..."></div>
                </div>
              </div>
            </div>
          </div>

          <div class=" cartas card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../assets/img/quienes-somos/Abi.jpg" class="img-fluid mt-2 ml-2" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="fuente2 card-title ml-4">DIANA ABIGAIL MORENO CRUZ</h5>
                  <hr>
                  <p class="card-text ml-4 fuente2">Tengo una pasión muy grande por aprender y conocer de todo.
                    Soy maestra de danza regional. Estudio Arquitectura en la
                    UNAM, y considero que en esta carrera he podido adquirir una
                    amplia variedad de conocimientos. En el año actual me he
                    enfocado en aprender todo lo relacionado con desarrollo web,
                    para así fusionar ambas ramas y poder crear proyectos
                    interesantes y con un alto impacto social.</p>
                    <div class="container">
                      <img src="../assets//img/quienes-somos/LOG1.jpg" class="img-fluid imagen mt-2 mx-auto d-block" alt="..."></div>
                </div>
              </div>
            </div>
          </div>
          
        </div>

        <div class="col-md-6 mb-4">
          <div class=" cartas card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4 sm-12">
                <img src="../assets/img/quienes-somos/katia.jpg" class="img-fluid mt-2 ml-2" alt="...">
              </div>
              <div class="col-md-8">
                <div class=" card-body">
                  <h5 class="fuente2 card-title ml-4">KATIA ALVAREZ RODRIGUEZ</h5>
                  <hr>
                  <p class="card-text ml-4 fuente2">Me gusta proponerme retos personales, siento que una de las
                    mejores sensaciones de satisfacción es cuando logras tus
                    objetivos. No me da miedo renunciar a lo que no me hace
                    feliz, sin embargo soy persistente con mis metas. Soy una
                    desarrolladora Java Full Stack, concluí una Licenciatura en
                    Informática. Egresada de la Faculta de Estudios Superiores
                    Cuautitlán UMAN. Me gusta bailar, ver peliculas y comer  </p>
                    <div class="container">
                      <img src="../assets//img/quienes-somos/LOG1.jpg" class="img-fluid imagen mt-2 mx-auto d-block" alt="..."></div>
                </div>
              </div>
            </div>
          </div>

          <div class="cartas card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../assets/img/quienes-somos/jose.jpg" class="img-fluid mt-2 ml-2" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="fuente2 card-title ml-4">JOSE DE JESUS BECERRA ARGANDOÑA</h5>
                  <hr>
                  <p class="card-text ml-4 fuente2"> Soy egresado ingeniería en informática en UPIICSA(IPN), soy apasionado por el desarrollo y DevOps, soy autodidacta, con experiencia en desarrollo de
                    aplicaciones web y móviles, testing y puesta en producción  </p>
                    <div class="container">
                      <img src="../assets//img/quienes-somos/LOG1.jpg" class="img-fluid imagen mt-2 mx-auto d-block" alt="..."></div>
                </div>
              </div>
            </div>
          </div>

        </div>
        
      </div>
    </div>
    

    <!-- <div class="mt-5">
      <div class="container">
        <h1 id="equipo" class="text-center mt-5 justify-content-center">
          Equipo de Developers
        </h1>
        <br />
        <hr />
        <div class="row">
          <div class="col-md">
            <ul class="">
              <li class="media">
                <img
                  src="assets/Image/Luis.jpg"
                  class="mr-3"
                  style="width: 100px; height: 115px"
                  alt="..."
                />
                <div class="media-body">
                  <h5 class="fuente fw-bold mt-0 mb-2">
                    LUIS MANUEL GARCIA GUERRERO
                  </h5>
                  <p class="fuente">
                    Soy un joven developer. Desde inicios de 2022 he estado
                    tomando muchos cursos de programación para expandir mi
                    conocimiento. He estado tomando algunos bootcamps sobre
                    desarrollo web y Soft Skills. Entre mis hobbies se
                    encuentran ver series, jugar videojuegos, ver canales de
                    YouTube sobre comida, aventura y programar y aprender un
                    poco cada día. Mi meta en el futuro es poder llegar a
                    trabajar en una Big Tech.
                  </p>
                </div>
              </li>
              <li class="media my-4">
                <img
                  src="assets/Image/Vivi.jpg"
                  class="mr-3"
                  style="width: 100px; height: 115px"
                  alt="..."
                />
                <div class="media-body">
                  <h5 class="fuente fw-bold mt-0 mb-2">
                    VIVIANA JUAREZ FUENTES
                  </h5>
                  <p class="fuente">
                    Licenciada en Computación Desarrolladora Java FullStack Jr
                    Me gusta salir a caminar con amig@s y comer. Busco aprender
                    cada vez más cosas nuevas y capacitarme para ser mejor cada
                    día. Confío y creo en el destino y por algo estamos aquí.
                  </p>
                </div>
              </li>
              <li class="media">
                <img
                  src="assets/Image/jose.jpg"
                  class="mr-3"
                  style="width: 100px; height: 115px"
                  alt="..."
                />
                <div class="media-body">
                  <h5 class="fuente fw-bold mt-0 mb-2">
                    JOSE DE JESUS BECERRA ARGANDOÑA
                  </h5>
                  <p class="fuente">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Quibusdam placeat omnis quia consequatur quaerat eaque
                    numquam aliquid perferendis impedit nulla id repellat illum
                    provident sequi cumque recusandae, dicta, possimus rem.
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md">
            <ul>
              <li class="media">
                <img
                  src="assets/Image/katia.jpg"
                  class="mr-3"
                  style="width: 100px; height: 115px"
                  alt="..."
                />
                <div class="media-body">
                  <h5 class="fuente fw-bold mt-0 mb-2">
                    KATIA ALVAREZ RODRIGUEZ
                  </h5>
                  <p class="fuente">
                    Me gusta proponerme retos personales, siento que una de las
                    mejores sensaciones de satisfacción es cuando logras tus
                    objetivos. No me da miedo renunciar a lo que no me hace
                    feliz, sin embargo soy persistente con mis metas. Soy una
                    desarrolladora Java Full Stack, concluí una Licenciatura en
                    Informática. Egresada de la Faculta de Estudios Superiores
                    Cuautitlán UMAN. Me gusta bailar, ver peliculas y comer
                    pizza.
                  </p>
                </div>
              </li>
              <li class="media my-4">
                <img
                  src="assets/Image/victor.jpg"
                  class="mr-3"
                  style="width: 100px; height: 115px"
                  alt="..."
                />
                <div class="media-body">
                  <h5 class="fuente fw-bold mt-0 mb-2">
                    VICTOR FERNANDO PAZ RUIZ
                  </h5>
                  <p class="fuente">
                    Soy estudiante de ingeniería en computación apasionado por el campo de
                    la tecnología enfocado en la programación.
                    <br>
                    <br>
                    <br>
                    <br>
                  </p>
                </div>
              </li>
              <li class="media">
                <img
                  src="assets/Image/Abi.jpg"
                  class="mr-3"
                  style="width: 100px; height: 115px"
                  alt="..."
                />
                <div class="media-body">
                  <h5 class="fuente fw-bold mt-0 mb-2">
                    DIANA ABIGAIL MORENO CRUZ
                  </h5>
                  <p class="fuente">
                    Tengo una pasión muy grande por aprender y conocer de todo.
                    Soy maestra de danza regional. Estudio Arquitectura en la
                    UNAM, y considero que en esta carrera he podido adquirir una
                    amplia variedad de conocimientos. En el año actual me he
                    enfocado en aprender todo lo relacionado con desarrollo web,
                    para así fusionar ambas ramas y poder crear proyectos
                    interesantes y con un alto impacto social.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->

    <section class="subscribe-area pb-50 pt-70">
      <div class="container">
        <div class="row">
  
          <div class="col-md-4">
            <div class="subscribe-text mb-15">
              <h2>SUBSCRÍBETE Y ENTÉRATE <br> DE LAS NOVEDADES</h2>
            </div>
          </div>
          <div class="col-md-8">
            <div class="subscribe-wrapper subscribe2-wrapper mb-15">
              <div class="subscribe-form">
                <form action="#">
                  <input placeholder="tu@correo.com" type="email">
                  <button>SUSCRIRSE</button>
                </form>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </section>
  
  
  
  
    <footer class=" footer-style">
      <div class="container">
        <div class="row">
          <div class="col-md-4 footer-col">
            <h3>COMPRAS</h3>
            <p class="parrafos">
              Cambio y devoluciones
            </p>
            <P class="parrafos">Información de Envio</P>
            <p class="parrafos">Formas de pago</p>
          </div>
          <div class="col-md-4 footer-col">
            <h3>CONTACTO</h3>
            <p class="parrafos"><a target="_blank" href="mailto:contacto@techno.com.mx">contacto@techno.com.mx</a></p>
  
            <p class="parrafos"> 5543546799</p>
            <br><br><br><br><br><br>
          </div>
          <div class="col-md-4 footer-col">
            <h3 style="text-align: center;">SIGUENOS</h3>
            <ul class="contenedor">
              <a target="_blank" href="" class="btn-social btn-outline"><img class="social-media"
                  src="../assets/img/image 2.png" alt=""></a>
              </li>
              <li>
                <a target="_blank" href="#" class="btn-social btn-outline"><img src="../assets/img/image 3.png"
                    alt=""></i></a>
              </li>
              <li>
                <a target="_blank" href="#" class="btn-social btn-outline"><img src="../assets/img/image 4.png" alt=""></a>
              </li>
            </ul>
            <h5 style="text-align: center;">MÉTODOS DE PAGO</h5>
          </div>
        </div>
      </div>
  
      <div class="container">
        <img src="../assets/img/logo1.png" alt="Logotipo" style="width:250px; margin-right: 100px;" class="mx-auto d-block">
      </div>
    </footer>

  </div>


    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
      crossorigin="anonymous"
    ></script>

    <!-- ScrollReveal -->
    <script src="https://unpkg.com/scrollreveal"></script>
  </body>
</html>