<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/1db2ce0a5b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="../assets/css/styles-quienes-somos.css">
  <title>Document</title>
</head>

<body>

  <div class="container-fluid">
    <div class="bgn-black text-white row">
      <a style="margin-top: 5px;" href="../index.html" class="col-auto mr-auto"><img src="../assets/img/logo4.png"
          alt="" class="img-nav"></a>
      <a style="margin-top: 15px;" href=""><img src="../assets/img/megusta.png" alt="" class="ico mr-1"></a>
      <a style="margin-top: 15px;" href="templates/ingreso.html"><img src="../assets/img/usuario.png" alt=""
          class="ico mr-3"></a>
    </div>
  </div>
  <div class="bb-red bt-blue"></div>

  <nav class="navbar navbar-expand-lg navbar-dark bgn-black">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <form class="form-inline navbar-brand ">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
    </form>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="mujer.html">Mujeres<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="hombre.html">Hombres<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="ninxs.html">Niñxs<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="accesorios.html">Accesorios<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="newsletter.html">Newsletter<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="quienes-somos.html">Nosotros<span class="sr-only">(current)</span></a>
        </li>



      </ul>
    </div>
  </nav>
  <main>
    <!-- Ui cards -->
    <section id="cards">
      <div class="container py-2">
        <div class="row pb-4 ">
          <div class="col-12 text-center">
            <div class="display-3">¿Quienes somos?</div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <div class="card shadow-sm border-0">
              <div class="card-body">
                <div class="user-picture">
                  <img src="../assets/img/quienes-somos/LOG3.jpg" class="shadow-sm rounded-circle" height="153"
                    width="153" />
                </div>
                <div class="user-content">
                  <h5 style="font-size: 24px; font-weight: 800;" class="text-capitalize user-name">Full Snackers</h5>
                  <span style="font-size: 24px; font-weight: 700;" class="span text-center">Visión</span>
                  <p class=" text-align: justify;">En Techno-Shopp tenemos el propósito de acompañar a la comunidad de
                    developers
                    a expresar su gusto
                    por la tecnología de
                    una manera creativa e innovadora.
                    En Techno-Shopp tenemos el propósito de acompañar a la comunidad de developers a expresar su gusto
                    por la tecnología de
                    una manera creativa e innovadora.
                  </p>

                  <span style="font-size: 24px;font-weight: 700" class="span text-center"> Misión</span>

                  <p class=" text-align: justify;">Proveer prendas significativas que contengan imágenes relacionadas
                    con
                    tecnología, cumpliendo con
                    los requerimientos
                    previamente convenidos con los clientes.

                    Proteger y maximizar el patrimonio de los accionistas y el valor de las unidades de negocio de
                    Techno-Shopp.
                  </p>
                </div>
              </div>
            </div>
          </div>





          <div class="container py-2">
            <div class="row pb-4">
              <div class="col-12 text-center">
                <div class="display-3">Nuestro equipo</div>
              </div>
            </div>
            <!-- cards -->
            <div class="row">
              <div class="col-lg-6 col-md-12 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                  <div class="card-body">
                    <div class="user-picture">
                      <img src="../assets/img/quienes-somos/Luis.jpg" class="shadow-sm rounded-circle" height="130"
                        width="130" />
                    </div>
                    <div class="user-content">
                      <h5 style="font-weight: 600;" class="text-capitalize user-name">Luis García</h5>
                      <p class=" text-capitalize text-muted small blockquote-footer">Java Fullstack Developer Jr</p>
                      <p class="small text-muted mb-0">Soy un joven developer. Desde inicios de 2022 he estado tomando
                        muchos cursos de programación para expandir mi
                        conocimiento. He estado tomando algunos bootcamps sobre desarrollo web y Soft Skills. Entre mis
                        hobbies se encuentran
                        ver series, jugar videojuegos, ver canales de YouTube sobre comida, aventura y programar y
                        aprender un poco cada día. Mi
                        meta en el futuro es poder llegar a trabajar en una Big Tech.</p>
                    </div>
                    <div class="social">
                      <a href="" class="fab fa-linkedin"></a>
                      <a href="" class="fab fa-github"></a>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                  <div class="card-body">
                    <div class="user-picture">
                      <img src="../assets/img/quienes-somos/Vivi.jpg" class="shadow-sm rounded-circle" height="130"
                        width="130" />
                    </div>
                    <div class="user-content">
                      <h5 style="font-weight: 600;" class="text-capitalize user-name">Viviana Juarez</h5>
                      <p class=" text-capitalize text-muted small blockquote-footer">Java Fullstack Developer Jr</p>
                      <p class="small text-muted mb-0">Licenciada en Computación Desarrolladora Java FullStack Jr
                        Me gusta salir a caminar con amig@s y comer. Busco aprender
                        cada vez más cosas nuevas y capacitarme para ser mejor cada
                        día. Confío y creo en el destino y por algo estamos aquí.</p>
                    </div>
                    <div class="social">
                      <a href="" class="fab fa-linkedin"></a>
                      <a href="" class="fab fa-github"></a>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                  <div class="card-body">
                    <div class="user-picture">
                      <img src="../assets/img/quienes-somos/katia.jpg" class="shadow-sm rounded-circle" height="130"
                        width="130" />
                    </div>
                    <div class="user-content">
                      <h5 style="font-weight: 600;" class="text-capitalize user-name">Katia Alvarez</h5>
                      <p class=" text-capitalize text-muted small blockquote-footer">Java Fullstack Developer Jr</p>
                      <p class="small text-muted mb-0">Me gusta proponerme retos personales, siento que una de las
                        mejores sensaciones de satisfacción es cuando logras tus
                        objetivos. No me da miedo renunciar a lo que no me hace
                        feliz, sin embargo soy persistente con mis metas. Soy una
                        desarrolladora Java Full Stack, concluí una Licenciatura en
                        Informática. Egresada de la Faculta de Estudios Superiores
                        Cuautitlán UMAN. Me gusta bailar, ver peliculas y comer</p>
                    </div>
                    <div class="social">
                      <a href="" class="fab fa-linkedin"></a>
                      <a href="" class="fab fa-github"></a>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 mb-4 pt-5">
                <div class="card shadow-sm border-0">
                  <div class="card-body">
                    <div class="user-picture">
                      <img src="../assets/img/quienes-somos/jose.jpg" class="shadow-sm rounded-circle" height="130"
                        width="130" />
                    </div>
                    <div class="user-content">
                      <h5 style="font-weight: 600;" class="text-capitalize user-name">Jose Becerra</h5>
                      <p class=" text-capitalize text-muted small blockquote-footer">Java Fullstack Developer Jr</p>
                      <p class="small text-muted mb-0">Soy egresado ingeniería en informática en UPIICSA(IPN), soy
                        apasionado por el desarrollo y DevOps, soy autodidacta, con
                        experiencia en desarrollo de
                        aplicaciones web y móviles, testing y puesta en producción</p>
                    </div>
                    <div class="social">
                      <a href="" class="fab fa-linkedin"></a>
                      <a href="" class="fab fa-github"></a>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!-- /cards -->
    </section>
    <!-- /Ui cards -->
  </main>

  <!--SECCIÓN DE SUSCRIBIRSE-->
  <section class="subscribe-area pb-50 pt-70">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="subscribe-text mb-15">
            <h2>SUBSCRÍBETE Y ENTÉRATE <br> DE LAS NOVEDADES</h2>
          </div>
        </div>
        <div class="col-md-8">
          <div class="subscribe-wrapper subscribe2-wrapper mb-15">
            <div class="subscribe-form">
              <form action="#">
                <input placeholder="tu@correo.com" type="email">
                <button>SUSCRIBIRSE</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>


  <!----------FOOTER---------->
  <footer class=" footer-style">
    <div class="container">
      <div class="row">
        <div class="col-md-6 footer-col">
          <h3>COMPRAS</h3>
          <p class="parrafos">
            Cambio y devoluciones
          </p>
          <P class="parrafos">Información de Envio</P>
          <p class="parrafos">Formas de pago</p>
        </div>
        <div class="col-md-6 footer-col">
          <h3>CONTACTO</h3>
          <p class="parrafos"><a target="_blank" href="mailto:contacto@techno.com.mx">contacto@techno.com.mx</a></p>

          <p class="parrafos"> 5543546799</p>
          <br><br><br><br><br><br>
        </div>

      </div>
    </div>


    <div class="container">
      <img src="assets/img/logo1.png" alt="Logotipo" style="width:250px; margin-right: 100px;" class="mx-auto d-block">
    </div>
  </footer>

</body>

</html>